/************************************************

FILE:		  	layout.css
DESCRIPTION:  	file defines base structure - The layout of the site

************************************************/

/*  Highest Level */
body 					{padding:8px; background:#f7f7f7;}

/* Header */
div#header				{width:860px; height:100px; color:#fff; background: #E6E6E6 url(../img/header/bg-header.jpg) bottom left no-repeat;}
	h1#logo				{float:left; display:block; margin:10px; width:300px; height:60px; line-height:60px; text-indent:300px; overflow:hidden; background: #fff url(../img/header/logo.png) top left no-repeat;}
	h1#logo a			{display:block; width:300px; height:60px; line-height:60px; text-indent:300px; overflow:hidden;}
	
/*NAV */
#nav-main				{float:left; padding: 0; margin:10px 0; width:860px; height:32px; background: #E6E6E6;}
#nav-main ul			{float:right; text-align:right; padding:0 0 0 2px;}
#nav-main li			{float:left; display:block; margin:0; list-style-type:none;}
#nav-main li a			{display:block; height:31px; padding: 0 10px; line-height:33px; }

	#nav-main a,
	#nav-main a:link,
	#nav-main a:visited {color: #000; text-transform:uppercase; font-size:85%;}
	#nav-main a:hover 	{color: #333;}
	#nav-main a:focus	{color: #999;}
	#nav-main a:active 	{color: #000;}
	
/* Sub Nav */
.nav-sub				{margin:0; padding:0; border-top:1px solid #e1e1e1;}
.nav-sub li 			{margin:0; padding:10px 15px; border-bottom:1px solid #e1e1e1;}
.nav-sub li.active		{background:#211e1e;}

/* Template Area */
div#template			{width: 860px; padding: 0 0 10px 0; clear:both;}

	/* Delete after Styling */
		div#clm-one,
		div#clm-two,
		div#clm-three			{min-height:20px; background:#fff;}
	
	/* Default (When no class is applied to the body tag) */
		div#clm-one				{float:left; width:200px;}
		div#clm-two				{float:left; width:440px; padding:0 10px;}
		div#clm-three			{float:right; width:200px;}
		
	/* One Column */
		.one-clm div#clm-two	{width:840px; padding:10px;}
		.one-clm div#clm-one,
		.one-clm div#clm-three	{display:none;}
		
		
	/* 2 Column Left */
		.one-three div#clm-one		{float:left;}
		.one-three div#clm-two		{float:right; width:640px;}
		
	/* 2 Column Right */
		.three-one div#clm-one		{float:right;}
		.three-one div#clm-two		{float:left; width:640px;}		

/* Footer */
div#footer				{float:left; width:840px; height:34px; line-height:34px; padding:0 10px; margin:0 0 8px 0; clear:both; font-size:85%; background: #E6E6E6;}

	div#footer p		{padding:0; margin:0; line-height:34px;}
	div#footer ul		{float:left; width:180px; margin:0; padding:0;}
	div#footer li		{float:left; margin: 0; padding:0 10px 0 0; list-style-type:none;}
	
	#footer a,
	#footer a:link,
	#footer a:visited 		{color: #8f8f8f;}
	#footer a:hover			{color: #8f8f8f;}
	#footer a:focus 		{color: #017ea0;}
	#footer a:active 		{color: #8f8f8f;}