<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />	
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	
	<link href="../stylesheets/reset.css" rel="stylesheet" type="text/css" />
	<link href="../stylesheets/layout.css" rel="stylesheet" type="text/css" />
	<link href="../stylesheets/content.css" rel="stylesheet" type="text/css" />
	<link href="../stylesheets/navigation.css" rel="stylesheet" type="text/css" />
	<link href="../stylesheets/forms.css" rel="stylesheet" type="text/css" />

	<!--[if lte IE 7]><link href="../stylesheets/fix_ie7.css" rel="stylesheet" type="text/css"/><![endif]-->
	<!--[if lt IE 7]><link href="../stylesheets/fix_ie6.css" rel="stylesheet" type="text/css"/><![endif]-->	
	<link href="../stylesheets/fix_print.css" rel="stylesheet" type="text/css" media="print" />
	
	<script src='../javascripts/jquery-1.3.2.min.js' type="text/javascript"></script>
	<script src='../javascripts/jquery.easing.js' type="text/javascript"></script>
	<script src='../javascripts/application.js' type="text/javascript"></script>

	<title>VJ Admin UI - A Basic Style Guide for the article element</title>	
	
	<!--[if IE]><script src="../javascripts/html5.js" type="text/javascript"></script><![endif]-->
	
</head>

<body>
	<header>
		<span class="container">
			<a href="#" title="Return to the VideoJuicer Homepage" id="logo">VideoJuicer</a>		
			<nav id="head">
				<a href="#" title="Logout" class="btn btn-dark-bar dark-bar-L">Logout</a>
				<a href="#" title="Visit the Developer Centre" class="btn btn-dark-bar dark-bar-M">Developer Centre</a>
				<a href="#" title="Visit the Help Centre" class="btn btn-dark-bar dark-bar-R">Help Centre</a>
			</nav>
		</span>
	</header>
	
	<!-- End <header> -->
	
	<nav id="main">
		<a href="#" title="View &amp; manage your Seeds" class="active">Seeds</a>
		<a href="#" title="View &amp; manage your Users">Users</a>
		<a href="#" title="View &amp; manage your Movies">Movies</a>
		<a href="#" title="View &amp; manage your Promo's">Promos</a>
		<a href="#" title="View &amp; manage your Campaigns">Campaigns</a>
	</nav>
	
	<!-- End <nav #main> -->
	
	<nav id="toolbar">	
	
		<ul class="ul-select clearfix">
			<li><a href="#" title="" class="btn btn-default">Standard Button (Default)</a>
			<li><a href="#" title="" class="btn btn-default default-selected">Standard Button (Selected)</a>
			<li><a href="#" title="" class="btn btn-default default-disabled">Standard Button (Disabled)</a>
			<li>
				<a href="#" title="" class="btn btn-bar bar-L">Multiple</a>
				<a href="#" title="" class="btn btn-bar bar-M">Button</a>
				<a href="#" title="" class="btn btn-bar bar-R">Default</a>
			</li>
			<li>
				<a href="#" title="" class="btn btn-bar bar-selected-L">Multiple</a>
				<a href="#" title="" class="btn btn-bar bar-selected-M">Button</a>
				<a href="#" title="" class="btn btn-bar bar-selected-R">Selected</a>
			</li>
			<li class="closed">
				<a href="#" title="" class="btn btn-select">Drop Down</a>
				<div class="wrapper">
					<span class="top"><span class="tr"></span></span>
					<div class="children clearfix">
						<span class="t"><span class="tr"></span></span>
						<div class="select-content clearfix">
							<ul>
								<li><a href="#" title="">Lorem ipsum dipsum</a></li>
								<li class="selected"><a href="#" title="">Lorem ipsum dipsum</a></li>
								<li><a href="#" title="">Lorem ipsum dipsum lorem</a></li>
								<li><a href="#" title="">Lorem ipsum dipsum</a></li>
								<li><a href="#" title="">Lorem ipsum dipsum</a></li>
							</ul>										
						</div>
						<span class="b"><span class="br"></span></span>
					</div>
				</div>
			</li>
			<li class="open">
				<a href="#" title="" class="btn btn-select-active">Drop Down (clicked)</a>
				<div class="wrapper clearfix">
					<span class="top"><span class="tr"></span></span>
					<div class="children clearfix">
						<span class="t"><span class="tr"></span></span>
						<div class="select-content clearfix">
							<ul>
								<li><a href="#" title="">Lorem ipsum dipsum</a></li>
								<li class="selected"><a href="#" title="">Lorem ipsum dipsum</a></li>
								<li><a href="#" title="">Lorem ipsum dipsum lorem</a></li>
								<li><a href="#" title="">Lorem ipsum dipsum</a></li>
								<li><a href="#" title="">Lorem ipsum dipsum</a></li>
							</ul>										
						</div>
						<span class="b"><span class="br"></span></span>
					</div>
				</div>
			</li>
		</ul>			
		
	</nav>
	
	<!-- End <nav #toolbar> -->
	
<!-- END LAYOUT ( The Header, includes: <header>, <nav #main>, <nav #toolbar> )-->	
<!-- START LAYOUT ( <section #template>, Where all the content goes ) -->
	
	<section id="template" class="aside-L clearfix">	
		<div class="container clearfix">		
		
			<section id="content">
			
			<!-- START a box (This one is the default dark colours) -->			
				<div class="box">		
						
					
					<h1>H1 Heading</h1>
					
					
					<article class="content clearfix">

						<h2>Be Sure to wrap content pages in [article] element (h2)</h2>			
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam. Quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
						

<code>def code_snippet	use monospace(font => “Monaco/Courier”, for => “code snippets”) lorem ipsum lorem ipsum lorem ipsum lorem ipsumend
</code>



						<h3>H3 Headings</h3>				
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam. Quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
						
						<h3>Nested Definition Lists</h3>
						
						
						<!-- README:  All abut nested DL's
						
							The Markup for nested DL's is valid HTML 5, even if it would not be valid for other doc types.
							Strictly speaking this markup is a little dirty but semantically Nested DL's are GREAT.
							Bring on XHTML 2 for utter DL coolness!
							
							Each 'row' needs a wrapping span of class .row, e.g:
							
								<span .row>
									<dt>
									<dd>
									
							If a dd has a nested DL it will need the class: .parent applying to it.  The associated DT will also need .parent								
						
						-->
						
						

						<dl class="clearfix">
							<div class="row">
								<dt>Term One:</dt>
								<dd>Definitition One that is really awkward and will wrap over multiple lines</dd>
							</div>
							<div class="row">
								<dt class="parent">(must not wrap):</dt>
								<dd class="parent">Definitition Two
									<dl class="clearfix">
										<div class="row">
											<dt>Nested Title One that is awkward and wraps over multiple lines</dt>
											<dd>Nested Definition One</dd>
										</div >
										<div class="row">
											<dt>Nested Title Two</dt>
											<dd>Nested Definition Two that is really awkward and wraps over multiple lines</dd>
										</div >
										<div class="row">
											<dt>Nested Title Three</dt>
											<dd>Nested Definition Three</dd>
										</div>
									</dl>
								</dd>
							</div>
							<div class="row">
								<dt>Term Three:</dt>
								<dd>Definition Three</dd>
							</div>
						</dl>

						
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam. Quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
						
						
						
						
						<ol>
							<li>Lorem Ipsum Dipsum</li>
							<li>Lorem Ipsum Dipsum</li>
							<li>Lorem Ipsum Dipsum</li>
						</ol>
						<p><img src="img/spacer.gif" alt="now on air" width="100px" height="60px" style="background:#808080;"/>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam. Quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. voluptate velit esse cillum dolor fugiat. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
				
						<h3>Title Text (h3)</h3>
						<p>Lorem ipsum dolor sit amet, <strong>consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore</strong> et dolore magna aliqua. Ut enim ad minim veniam. Quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
						<ul>
							<li>Lorem Ipsum Dipsum</li>
							<li>Lorem Ipsum Dipsum</li>
							<li>Lorem Ipsum Dipsum</li>
						</ul>
			
						<h5>Title Text (h5)</h5>
						<p>Lorem ipsum dolor sit amet, <small>consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam. Quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</small> voluptate velit esse cillum dolor fugiat...</p>
			
						<h6>Title Text (h6)</h6>
						<p>Lorem ipsum dolor sit amet, <em>consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam</em>. Quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. voluptate velit esse cillum dolor fugiat...</p>
						<ul>
							<li>List Item 1</li>
							<li>List Item 2
								<ul>
									<li>Nest Li 1</li>
									<li>Nest Li 2</li>
								</ul>
							</li>
							<li>List Item 3</li>
							<li>List Item 4</li>
							<li>List Item 5</li>
						</ul>
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam. Quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. voluptate velit esse cillum dolor fugiat...</p>
						<hr/>
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam. Quis nostrud exercitation <a href="#">inline link</a> ullamco laboris nisi ut aliquip ex ea commodo consequat. voluptate velit esse cillum dolor fugiat...</p>	
						<table>
							<tr >
								<th class="clm1"></th>
								<th valign="top">Title</th>
								<th valign="top">Title</th>
							</tr>
							<tr class="odd" >
								<td class="clm1 odd">R 1</td>
								<td class="odd" valign="top">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</td>
								<td class="odd" valign="top">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</td>
							</tr>
							<tr class="even">
								<td class="clm1 odd">R 2</td>
								<td class="odd" valign="top">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</td>
								<td class="odd" valign="top">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</td>
							</tr>
							<tr class="odd">
								<td class="clm1 odd">R 3</td>
								<td class="odd" valign="top">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</td>
								<td class="odd" valign="top">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</td>
							</tr>
							<tr class="even">
								<td class="clm1 odd">R 4</td>
								<td class="odd" valign="top">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</td>
								<td class="odd" valign="top">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</td>
							</tr>
							<tr class="odd">
								<td class="clm1 odd">R 5</td>
								<td class="odd" valign="top">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</td>
								<td class="odd" valign="top">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</td>
							</tr>
							<tr class="even">
								<td class="clm1 odd">R 6</td>
								<td class="odd" valign="top">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</td>
								<td class="odd" valign="top">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</td>
							</tr>
						</table>
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, <a href="#">inline link</a> sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam. Quis nostrud exercitation  ullamco laboris nisi ut aliquip ex ea commodo consequat. voluptate velit esse cillum dolor fugiat...</p>	
						
					</article>
									
					<section class="footer">
					
						Export
					
					</section>				
					
				</div>				
			<!-- END The Dark Box -->			
				
			</section>				

<!-- END LAYOUT ( <section #content>, the wide column ) -->
<!-- START LAYOUT ( <aside>, the narrow column ) -->	
			
			<aside class="box">
				
				
				<h1>Section Heading</h1>
				
				
				<div class="content">
				
					<nav class="sub">
						<a href="#" title="">Sub Nav Item</a>
						<a href="#" title="">Sub Nav Item</a>
						<a href="#" title="" class="active">Sub Nav Item</a>
						<a href="#" title="">Sub Nav Item</a>
						<a href="#" title="">Sub Nav Item</a>
						<a href="#" title="">Sub Nav Item</a>
						<a href="#" title="">Sub Nav Item</a>
					</nav>
					
					<div class="help">
						<span class="help-top"><span class="help-R"></span></span>
							<div class="help-content">Help bubble if its required.</div>					
						<span class="help-bottom"><span class="help-R"></span></span>					
					</div>
											
				</div>
				
				<section class="footer">
				
				</section>				
							
			</aside>			
			
	<!-- END ( <aside>, the narrow column ) -->
			
		</div>
		
	<!-- END The Container (Sets the width of the page) -->
	</section>

<!-- END LAYOUT ( <section #template>, All content ends by here ) -->
<!-- START LAYOUT ( <footer>, the footer ) -->	
	
	<footer>
		<div id="copyright"><span class="container"><small>&copy; Videojuicer 2009, All rights Reserved</small></span></div>
	<!-- END The Copyright Info -->
		
		<section id="info">
			<h1>Information Centre</h1>
			<p>Find Out what's Happeneing at Videojuicer...</p>
			
			<ul>
				<li><a href="#" title="">Product updates &amp latest release information</a></li>
				<li><a href="#" title="">New features and walk-throughs</a></li>
				<li><a href="#" title="">Future platform roadmap</a></li>
				<li><a href="#" title="">Videojuicer developer blog</a></li>
				<li><a href="#" title="">Careers at Videojuicer</a></li>
				<li><a href="#" title="">Frequently Asked Questions</a></li>
			</ul>		
		</section>
		
	<!-- END The Information Centre -->
		
		<section id="develop">
			<h1>Developer Centre</h1>
			<p>Videojuicer integration resource for developers...</p>
			
			<ul>
				<li><a href="#" title="">Videojuicer API Overview</a></li>
				<li><a href="#" title="">Getting started with the Videojuicer API</a></li>
				<li><a href="#" title="">Videojuicer Core SDK Download</a></li>
				<li><a href="#" title="">Videojuicer Player SDK Download</a></li>
				<li><a href="#" title="">API Documentation &amp; Method Reference</a></li>
				<li><a href="#" title="">Frequently Asked Questions</a></li>
			</ul>		
		</section>
		
	<!-- END The Developer Centre -->
	
		<section id="help">
			<h1>Help Centre</h1>
			<form method="" action="" class="frm-srch">
				<fieldset>
					<legend class="hide">Search The Help Centre</legend>
					<label class="hide" for="srch-footer">Search:</label>
					<input type="text" class="textfield textfield-dark" value="Search Help Centre"/>
					<button type="submit" title="Search the help Centre">Submit</button>
				</fieldset>			
			</form>
			
			<ul>
				<li><a href="#" title="">Videojuicer API Overview</a></li>
				<li><a href="#" title="">Getting started with the Videojuicer API</a></li>
				<li><a href="#" title="">Videojuicer Core SDK Download</a></li>
				<li><a href="#" title="">Videojuicer Player SDK Download</a></li>
				<li><a href="#" title="">API Documentation &amp; Method Reference</a></li>
				<li><a href="#" title="">Frequently Asked Questions</a></li>
			</ul>		
		</section>
	
	<!-- END The Help Centre -->
	
	</footer>
	
	<script type="text/javascript">
	
	
	$(document).ready(function() {
		alert('Content pages like this should use <article class=content> instead of <div class=content>');
	
	
	});
	
<!-- END The page -->

</body>
</html>